.footer {
	height: 120px;
	position: absolute;
	bottom: 0px;
	left: 0px;
    bottom: 0px;
	width: 100%;
}

.HeaderNavbar_NavLink {
	text-decoration: none !important;
    color: black;
}

.Home_Form {
	width: 600px;
    height: 60px;
}

.Home_SearchBox {
	text-align: center;
	padding: 20px;
	width: 640px !important;
	margin-top: 40px;
}

.Recipe_Card {
	display: flex;
	width: 18rem;
}

.Recipe_Display_Link {
	text-decoration: inherit !important;
	color: rgb(0, 0, 0);
}

.recipe_img {
	width: 100%;
	height: max-content;
}

#root {
	position: relative;
	min-height: 100vh;
	padding-bottom: 120px;
}